body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Calibri';
    font-weight: 400;
    color: #032A33;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, b {
    font-family: 'ArialRoundedMT';
    font-weight: 700;
}
header {
    background: #fff;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 31px;
}
h4 {
    font-size: 21px
}
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
.font-s_20 {
    font-size: 20px;
}
.font-s_18 {
    font-size: 18px;
}
.font-s_16 {
    font-size: 16px;
}
.font-s_14 {
    font-size: 14px;
}
.font-s_12 {
    font-size: 12px;
}
.btn {
    font-size: 14px;
    font-family: 'ArialRoundedMT';
    font-weight: 700;
    line-height: 1.05em;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.primary_border {
    box-shadow: none !important;
    color: #EBA040;
    border: 1px solid #EBA040;
    border-radius: 100px;
    padding: 12px 15px;
    background: transparent;
}
.primary_border:hover {
    color: #fff;
    background: #EBA040;
}
.primary {
    box-shadow: none !important;
    color: #fff;
    border: 1px solid #EBA040;
    border-radius: 100px;
    padding: 12px 15px;
    background: #EBA040;
}
.primary:hover {
    color: #EBA040;
    background: transparent;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #2E75B6;
}
p {
    margin: 0;
}
input {
    outline: none;
}
button {
    outline: none;
}
.brand-name-def {
    color: #000 !important;
    text-decoration: none !important;
}

@font-face {
    font-family: 'ArialRoundedMT';
    src: url('../fonts/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialRoundedMTBold.woff') format('woff'), url('../fonts/ArialRoundedMTBold.ttf')  format('truetype'), url('../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri.woff') format('woff'), url('../fonts/Calibri.ttf')  format('truetype'), url('../fonts/Calibri.svg#Calibri') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Calibri-Bold.woff') format('woff'), url('../fonts/Calibri-Bold.ttf')  format('truetype'), url('../fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}
.container {
    max-width: 1300px;
    width: 100%;
}
.container-900 {
    max-width: 930px;
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.my-col_m.my-col-filter {
    width: 23%;
    padding: 0px 10px;
}
.my-col_m.my-col-content {
    width: 55%;
    padding: 0px 15px;
}
.my-col_m.my-col-add {
    width: 22%;
    padding: 0px 10px;
}
/*starrating*/
/* Styling h1 and links
––––––––––––––––––––––––––––––––– */

.transition-block, .footer-top a {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 18px;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #E1E5E6; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #FFC107 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
.rating:hover>input:checked~label:before {
    opacity: 0.4
}
/*START*/
.home_brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 45px;
}
.home_brand a {
	color: #A5B3B9;
	font-size: 16px;
}
.home_brand span {
	font-size: 16px;
}
.top_small_border {
    width: 12px;
    margin: 0px 10px;
    border-top: 1px solid #bac0c6;
}

/*item-block*/
.itemsell .container .row .col1 {
    width: 8%;
}
.itemsell .container .row .col2 {
    width: 33%;
}
.itemsell .container .row .col4 {
    width: 21%;
}
.itemsell .container .row .col3 {
    width: 37%;
}
.columnitem .col1 {
    width: 15%;
}
.columnitem .col2 {
    width: 70%;
}
.columnitem .col3 {
    width: 15%;
}
.itemsell {
    padding: 24px 31px;
    background-color: #ffffff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}
.itemsell .container {
    padding: 0;
}
.checked {
  color: orange;
}
.columnitem .col1 a.btn.btn-primary.collapsed, .columnitem .col1 a.btn.btn-primary {
    background: transparent;
    color: #000;
    font-weight: 700;
    border: none;
    padding: 0;
}
.columnitem .col1 a.btn.btn-primary:focus {
    box-shadow: none;
}
.col1 .card.card-body {
    border: none;
    background: transparent;
    padding: 20px 0px 20px 0px;
}
.columnitem .col1 .colv1 {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
}
.colv1 a.btn.btn-primary.collapsed i.fa.fa-chevron-down:before {
    content: "\f078";
}
.colv1 i.fa.fa-chevron-down {
    padding-left: 40px;
}
.col1 a.btn.btn-primary i.fa fa-chevron-down:before
.rating {
    display: flex;
}
.col1 a.btn.btn-primary i.fa.fa-chevron-down:before {
    content: "\f077";
}
.itemsell .col4 .buttonitem {
    border: 1px solid #EBA040;
    padding: 12px 0px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}
.itemsell .col4 .buttonitem a.btn-item {
    color: #EBA040;
    padding: 12px 18px;
}
.itemsell .col4 .buttonitem1 a.btn-item {
    color: #fff;
    padding: 12px 18px;
}
.itemsell .col4 .buttonitem1 {
    border: 1px solid #EBA040;
    padding: 12px 0px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    background: #EBA040;
    margin-top: 20px;
}
.itemsell .col4 .buttonitem:hover {
    background: #EBA040;
}
.itemsell .col4 .buttonitem a:hover {
    color: #fff;
    text-decoration: none;
}
.itemsell .col4 .buttonitem1:hover {
    background: #fff;
}
.itemsell .col4 .buttonitem1 a:hover {
    color: #EBA040;
    text-decoration: none;
}
/* Registration window*/
.contentdiv {
    width: 330px;
    margin: 0 auto;
    text-align: center;
    padding: 40px 20px 20px 20px;
    background: #fff;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
}
.button1 button.btn {
    font-size: 19px;
    border: 1px solid #000000;
    border-radius: 10px;
    width: 200px;
    text-align: left;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
}
.button1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
.button1 i {
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}
.linkhome {
    text-align: left;
}
.modal-content {
    border: none;
}
.modal-content a {
    font-weight: 700;
}

.imglogohere img {
    width: 160px;
}
/*header css*/
.login-menu {
    color: #2E75B6 !important;
}
.dis-flex-center {
    display: flex;
}
.mb-btn-r {
    width: 30px;
    height: 20px;
    margin: 0 5px 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.strp-menu {
    width: 100%;
    height: 2px;
    position: absolute;
    background: #000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.strp-menu.str_1 {
    top: auto;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mb-btn-r.collapsed .strp-menu.str_1 {
    top: 0px;
}
.mb-btn-r.collapsed .str_2 {
    opacity: 1;
}
.strp-menu.str_2 {
    top: calc(50% - 1px);
    opacity: 0;
}
.strp-menu.str_3 {
    bottom: auto;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mb-btn-r.collapsed .strp-menu.str_3 {
    bottom: 0px;
}
.mb-btn-r.collapsed .strp-menu {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
nav.navbar.header .cls-menu-lnk, nav.navbar.header .cls-menu-lnk {
    color: #000000;
    border: none;
    background: none;
    outline: none !important;
    box-shadow: none !important;
    font-weight: 400;
    padding: 0;
    line-height: 1.1;
    text-decoration: none;
    position: relative;
}
nav.navbar.header .cls-menu-lnk:before, nav.navbar.header .cls-menu-lnk:before, .footer-top-section a:before {
    content: "";
    position: absolute;
    background: #EBA040;
    height: 2px;
    width: 0%;
    bottom: -1px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.footer-top-section a:before {
    height: 1px;
}
nav.navbar.header .login-menu:before {
    background: #2E75B6;
}
.header-logo a:before, .header-logo a:after, .mb-btn-r:before {
    display: none;
}
nav.navbar.header a:hover:before, nav.navbar.header button:hover:before, .footer-top-section a:hover:before {
    width: 100%;
}
.icon-usr_m {
    width: 14px;
    position: relative;
    top: -1px;
    margin: 0px 6px 0px 20px;
}
.separator_m {
    display: inline-block;
    margin: 0 5px;
    line-height: 1.1em;
}
ul.navbar-nav>li {
    margin-right: 40px;
}
ul.navbar-nav>li:last-child {
    margin-right: 20px;
}
ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
nav.navbar .container {
    padding: 0px 15px;
}
.header-logo {
    width: 150px;
    padding-right: 20px;
}
.header {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
.header-sign {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 2px solid #D6D6D6;
    margin-top: 1px;
}
.main-block {
    background-image: url("../img/Background-search-min.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-block-content {
    padding-top: 140px;
    padding-bottom: 210px;
}
.main-block-content_h1 h1 {
    color: #032A33;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.main-block-search {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}
.mbc-h1_blue {
    color: #2E75B6;
}
.main-block-content_p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    padding: 37px 0px 60px 0px;
}
.main-block-search {
    display: flex;
    justify-content: center;
}
.main-block-search form {
    display: flex;
    width: 100%;
}
.main-block-search_group {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.mb-search-button {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    background-color: #EBA040;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    position: absolute;
    right: 15px;
    top: calc(50% - 17px);
    height: 34px;
    line-height: 34px;
    width: 75px;
    display: block;
    padding: 0px;
    z-index: 10;
}
.mb-search_group-block {
    width: 100%;
    position: relative;
    margin: 0 auto;
    display: flex;
}
.search_inp, .search_inp_review {
    font-size: 19px;
    width: 100%;
    height: 50px;
    border: 1px solid #EBA040;
    border-radius: 50px;
    background-color: white;
    background-image: url(../img/icon\ search.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 30px 15px;
    padding: 0 100px 0 60px;
    -webkit-text-fill-color: #032A33;
    box-shadow: 0px 14px 33px -21px #100900;
    -webkit-box-shadow: 0px 14px 33px -21px #100900;
    -moz-box-shadow: 0px 14px 33px -21px #100900;
    position: relative;
    z-index: 9;
}
.main-block-search input[type=search]::placeholder {
    opacity: 0.4;
    font-size: 19px;
}
button.btn.btn-primary1 {
    background: transparent;
    border: none;
    color: #2e75b6;
    font-family: 'ArialRoundedMT';
    font-weight: 700;
    padding: 10px 30px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}
.select-block-m {
    display: none;
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: white;
    color: black;
    /* border-radius: 40px; */
    height: 190px;
    overflow-y: scroll;
}

.footer {
    font-size: 16px;
    color: #ffffff;
    background-color: #032A33;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 45px;
}
.footer-top h3 {
    font-size: 18px;
}
.footer-top ul {
    padding: 0;
}
.footer-top li {
    margin-top: 10px;
}
.footer-top a {
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px;
    position: relative;
}
.footer-top a:hover {
    color: #EBA040;
    text-decoration: none;
}
.footer-line {
    content: " ";
    height: 1px;
    max-width: 100%;
    background-color: #35545B;
}
.footer-bottom {
    padding: 21px 0px;
    color: #819499;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-bottom_right {
    margin-right: 40px;
}
.footer-title {
    margin-bottom: 25px;
}
.form-input_email {
    width: 200px;
    height: 40px;
    border-radius: 30px;
    border: none;
}
.form-input_email::placeholder {
    opacity: 0.4;
    font-size: 16px;
}
.footer-top-subscribe-form_input {
    display: flex;
}
.footer-top-subscribe-form input[type=email] {
    padding-left: 20px;
}
.footer-top-subscribe-form button[type="submit"] {
    border-radius: 30px;
    content: "+";
    width: 44px;
    height: 42px;
    border: none;
    margin-left: 10px;
    background-color: #EBA040;
    cursor: pointer;
}
.footer-top-subscribe-form button[type="submit"] img {
    padding-left: 2px;
    width: 25px;
    display: flex;
    justify-content: center;
}


/* - Rating - */
.rating .stars {
    position: relative;
    display: block;
    height: 11px;
    width: 90px;
    background-image: url("../img/star.svg");
    background-position: 0 0;
    background-repeat: repeat-x;
    margin-right: 5px;
}
.rating .stars .on {
    height: 11px;
    background-image: url("../img/star.svg");
    background-position: 0px -11px;
    background-size: 18px;
}
.rating .stars.like_rate {
    background-image: url("../img/like.svg");
}
.rating .stars.like_rate .on {
    background-image: url("../img/like.svg");
}

/* - My BOOM - */
.grey-bg {
    background: #ECEFF4;
}
.flex-right {
    display: flex;
    justify-content: flex-end;
}
.default-gap {
    padding: 70px 0px;
}
.top-pd_20 {
    padding-top: 20px;
}
.block-sort_by {
    background: #fff;
    padding: 10px 30px;
    line-height: 1.3em;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.drop-box_m {
    margin-left: 50px;
    position: relative;
    padding-right: 24px;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.drop-box_m span {
    display: flex;
    align-items: center;
}
.arrow-drop {
    position: absolute;
    right: 0px;
    width: 12px;
    margin-top: -1px;
}
.drop-down_wrap {
    position: absolute;
    top: 100%;
    border-radius: 5px;
    background: #fff;
    right: 0px;
    padding: 16px 0px;
    box-shadow: 0 5px 11px rgba(0,0,0,0.12);
    display: none;
    width: 215px !important;
    z-index: 1;
}
.drop-down_wrap ul>li {
    font-size: 15px;
    padding: 3.5px 28px;
}
.drop-down_wrap ul>li:hover {
    background: #F2F2F2;
}
.flex-al_item_center {
    align-items: center;
}
.top-pd_34 {
    padding-top: 34px;
}
.white-box_with_border {
    background: #fff;
    border-radius: 4px;
}
.filter-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 10px;
}
.padding-f-box {
    padding: 30px;
}
.color-red {
    color: #FF5A5F;
}
.reset-filter {
    cursor: pointer;
}
.filtr-img_h {
    display: flex;
    align-items: center;
}
.filtr-img_h h4 {
    margin: 0 0 0 10px;
}
.uppercase {
    text-transform: uppercase;
}
.block-sort_by .arrow-drop {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.block-sort_by.active .arrow-drop {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.title-trg_filter {
    border: none;
    background: transparent;
    width: 100%;
    position: relative;
    outline: none !important;
    padding: 0px;
    text-align: left;
    cursor: pointer;
}
.filter_ms_box {
    margin: 23px 0px;
}
.title-trg_filter img {
    top: calc(50% - 3.5px);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.title-trg_filter.collapsed img {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.filters-label {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px 0px;
}
.grey-text {
    color: #B3BFC1;
}
input[type="checkbox"] {
    border: 1px solid #D6D6D6 !important;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 3px;
    cursor: pointer;
}
.left-inp input {
    margin-right: 5px;
    position: relative;
    top: 1px;
}
input[type="checkbox"]:checked {
    background: url("../img/checkbox.svg");
    background-size: cover;
    background-position: center;
    border: 1px solid #2E75B6 !important;
}
.margin-bot_16 {
    margin-bottom: 16px;
}
.margin-bot_50 td {
    padding-bottom: 50px !important;
}
.box-white_brends {
    background: #fff;
    border-radius: 4px;
    padding: 30px 16px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box-white_brends>div {
    padding-right: 10px;
}
.box-white_brends>div:last-of-type {
    padding-right: 0px;
}
.brend_image-box {
    width: 11%;
    text-align: center;
}
.brend_title-box {
    width: 31%;
}
.brend_customer-box, .brend_supplier-box {
    width: 18.5%;
}
.brend_button-box {
    width: 21%;
}
.brend_title-box h2 {
    margin-bottom: 0px;
}
.brend_title-box>span {
    display: block;
}
.numb_categ ul>li {
    display: inline-block;
    min-width: calc(50% - 2px);
}
.numb_categ {
    margin-top: 13px;
}
.count-marg {
    display: block;
    margin: 3px 0px 8px;
}
.brend_button-box .btn {
    display: block;
    width: 100%;
}
.show-more-wrp {
    font-weight: 700;
    color: #2E75B6;
    cursor: pointer;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
}
.show-more-wrp img {
    width: 10px;
    margin-left: 7px;
}

/*FORM*/
.modal-content {
	width: 510px;
	padding: 75px 55px 40px 55px;
}
.modal-header {
	display: block;
	border: none;
	padding: 0 0 33px 0;
}
.modal-header h2 {
	text-align: center;
	padding-top: 34px;
	font-size: 36px;
}
.modal-header_img {
	text-align: center;
}
.modal-header .close {
    position: absolute;
    top: 30px;
    right: 35px;
}
.col-form-label {
	font-size: 21px;
	padding-top: 0;
    padding-bottom: 10px;
}
.form-control {
	font-size: 18px;
}
.form-group {
    margin-bottom: 30px;
}
.modal-footer {
	border: none;
	margin: auto;
	padding: 5px 0 0 0;
}
.modal-footer button {
	text-transform: uppercase;
	margin: 0;
	padding: 15px 45px;
	border: 1px solid #eba040;
	border-radius: 30px;
	font-size: 16px;
	color: #eba040;
	background-color: #fff;
}
button:focus {
    outline: none;
}
.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.modal-footer button:hover {
	color: #fff;
	background-color: #eba040;
	border: 1px solid #eba040;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #eba040;
    border-color: #eba040;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #eba040;
    border-color: #eba040;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.register_go_back {
	display: flex;
	justify-content: center;
    align-items: center;
	margin-top: 35px;
	font-size: 16px;
}
.or-divider {
    width: 245px;
    margin: 30px auto;
    max-width: 100%;
    color: #D6D6D6;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.or-divider:before {
    content: "";
    background: #D6D6D6;
    position: absolute;
    height: 1px;
    width: calc(50% - 28px);
    left: 0px;
}
.or-divider:after {
    content: "";
    background: #D6D6D6;
    position: absolute;
    height: 1px;
    width: calc(50% - 28px);
    right: 0px;
}
.registr_button.min-btn-email {
    font-size: 16px;
    max-width: 250px;
    width: 100%;
    padding: 12px 25px;
    margin: 0 auto 45px auto;
}
.registr_button.min-btn-email img {
    margin-right: 10px;
}
.registr_soc-icon {
    text-align: center;
    margin: 17px auto 0px;
    width: 250px;
    max-width: 100%;
}
.register_go_back p {
	padding-right: 5px;
}
.register_go_back a {
    border-bottom: 2px solid #2E75B6;
}
.register_go_back a, .link_go_back a {
    text-decoration: none;
    line-height: 1;
    height: 18px;
}
.registr_soc-icon img {
    cursor: pointer;
}
.link_go_back a:hover {
    border-bottom: 2px solid #2E75B6;
}
.link_go_back {
	display: flex;
	justify-content: center;
	font-size: 16px;
	margin-top: 10px;
}
.modal-backdrop {
    background: #274058;
    backdrop-filter: blur(10px);
    opacity: .74;
}
.modal-title {
    margin: 0 auto;
}
.font36 {
    font-size: 36px;
}
.text_on_fast {
    font-size: 25px;
    text-align: center;
    padding-bottom: 50px;
}
.move_text {
    padding-top: 22px;
    font-size: 21px;
}
.margin-bt25 {
    margin-bottom: 25px;
}
.registr_button {
    font-size: 21px;
    padding: 14px 45px;
    border: 1px solid #ced4da;
    border-radius: 35px;
    margin-bottom: 30px;
}
.registr_button img {
    margin-right: 30px;
}
.registr_button:hover {
    background-color: #2e75b6;
    border: 1px solid #2e75b6;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.registr_button:hover img {
    filter: brightness( 800% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );
}
.move_link {
    margin: 5px 0;
}

/*customerReviews-3a*/
.most_recent {
     display: flex;
     justify-content: space-between;
}
/*customerReviews-3*/
.urgent_page {
    width: 900px;
    margin: auto;
}
.different_reviews {
    background-color: #fff;
    width: 100%;
    padding: 40px 8.89%;
    border-radius: 5px;
}
.photo_name_stars .rating {
    padding-top: 13px;
}
.photo_name_stars {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.photo_name_date {
    display: flex;
}
.avatar_different_reviews {
    display: flex;
    width: 80px;
    height: 80px;
    background-color: #eff2f5;
    border-radius: 50%;
    margin-right: 20px;
}
.avatar_different_reviews img, .time_and_place {
    margin: auto;
}
.bold_name {
    font-weight: 700;
    padding-right: 5px;
}
.number_contributions, .username_data {
    font-size: 12px;
    color: #c9cdce;
}
.review_text h4 {
    margin-bottom: 12px;
}
.text_red {
    color: #ff5a5f;
}
.review_text span {
    font-size: 18px;
}
.numbers_up_bottom {
    padding: 40px 0;
}
.numbers_up_bottom {
    display: flex;
    border-bottom: 1px solid #c9cdce;
}
.numbers_up_bottom span {
    font-size: 16px;
    padding-left: 5px;
}
.hand_up {
    padding-right: 20px;
}

/*block before tabs*/
.green-text {
	color: #3fb379;
}
.pd-top-bot_10 {
    padding: 7px 0px 11px;
}
.one_of_many {
	padding: 45px 60px 30px 60px;
}
.image-box_corrected {
	padding-right: 60px !important;
	width: 20%;
}
.title-box_corrected {
	width: 40%;
}
.width50 {
	width: 50%;
}
.button-box_corrected {
	width: 160px;
	padding-top: 25px;
}
.star_field {
	display: flex;
    flex-wrap: wrap;
    width: 40%;
}

/*TABS*/
.tabs_stars .nav-tabs {
	display: flex;
	justify-content: space-between;
    border-bottom: none;
}
.tabs_stars .nav-tabs .nav-link {
	border: none;
}
.tabs_stars .nav-link {
	padding: 0;
	text-transform: uppercase;
	font-size: 16px;
}
.customer_reviews_bloc {
    display: flex;
    background: #fff;
    padding: 40px 6.667% 50px;
    border-radius: 0px 0px 5px 5px;
}
.nav-tabs .nav-link {
    color: #B3BCBC;
}
.average_ratings {
	width: 45%;
}
.region {
	width: 30%;
}
.date_of_review {
	width: 25%;
}
.reviews_in_line {
	display: flex;
	justify-content: space-between;
	padding-right: 45px;
}
.stars_with_points {
	display: flex;
}
.stars_with_points .rating {
	padding: 9px 9px 0 8px;
}
.continent {
	display: flex;
	justify-content: space-between;
}
.continent label {
    margin-bottom: 0;
}
.pad-r-45 {
	padding-right: 45px;
}
.strip_in_tab {
	border-right: 2px solid #dee2e6;
}
.nav-title-tabs {
    background: #FFFDF9;
    border-radius: 5px 5px 0px 0px;
    padding: 30px 6.667%;
}

/*after tabs*/
.most_recent {
    padding-top: 50px;
    padding-bottom: 20px;
}
.most_recent1 {
	font-size: 20px;
}
.most_recent3 {
	padding: 0;
	background: none;
}
.most_recent3>span {
    color: #A5B3B9;
}
.rename_id_corrected {
    color: #2e75b6;
    font-weight: 700;
    position: relative;
}
.rename_id_corrected:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    background: #2e75b6;
}
.box_m_corrected {
	margin-left: 20px;
}
.double_mw_btn {
	display: flex;
	justify-content: space-between;
	padding-top: 55px;
}
.tweaked_button-box, .to_indent {
	width: 160px;
}
.show_more {
    font-size: 18px;
    color: #2e75b6;
    margin: auto 0;
    font-weight: 700;
    line-height: 1.1em;
    cursor: pointer;
}
.show_more img {
    margin-left: 3px;
}
.modal {
    overflow-y: auto;
}
a.cls-menu-lnk.active:before {
    width: 100% !important;
}
.review-box-white {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 40px rgba(63,96,136,0.14);
    margin-bottom: 30px;
    padding: 4.4% 7.8% 6.2%;
}
.mr-bottom-40 {
    margin-bottom: 40px;
}
.box-for-inp-search_help {
    position: relative;
    width: 100%;
}
.ind-box-drop {
    border-radius: 25px;
    box-shadow: 0 10px 22px rgba(16,9,0,0.12);
    position: absolute;
    top: 0px;
    padding: 82px 0 16px;
    overflow: hidden;
    width: 100%;
    background: #fff;
    z-index: 5;
}
li.list-item_index {
    cursor: pointer;
    padding: 4px 35px;
}
li.list-item_index:hover {
    background: #F2F2F2;
}
.modal-help-block ul {
    max-height: 175px;
    overflow-y: auto;
}
.box-for-step-review {
    display: flex;
}
.left-box-step span {
    display: block;
    background: #EBA040;
    color: #fff;
    font-weight: 700;
}
.left-box-step {
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.left-box-step span {
    background: #EBA040;
    color: #fff;
    font-weight: 700;
    height: 27px;
    width: 27px;
    margin: 0 auto;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1px;
}
.right-box-step {
    padding: 0px 0px 40px 4.5%;
    width: calc(100% - 50px);
}
.left-box-step:before {
    content: "";
    height: calc(100% - 53px);
    width: 1px;
    background: #EFF2F5;
    position: absolute;
    top: 40px;
}
.review-box-white>.box-for-step-review:last-of-type .left-box-step:before {
    display: none;
}
.review-box-white>.box-for-step-review:last-of-type .right-box-step {
    padding-bottom: 0px;
}
.box-for-choice {
    display: flex;
    flex-wrap: wrap;
    max-width: 567px;
    width: 100%;
    margin-top: 23px;
}
.box-for-choice_button {
    border: 1px solid #DADFE7;
    border-radius: 4px;
    width: 47%;
    height: 60px;
    align-items: center;
    display: flex;
    padding: 11px 7% 10px 7%;
    color: #6C7689;
    cursor: pointer;
}
.box-for-choice_button:hover, .box-for-choice_button.active {
    color: #434C5E;
    border: 1px solid #9CA0AA;
}
.consumer-bt {
    margin-right: 6%;
}
.brand-box-review {
    border-radius: 5px;
    border: 1px solid #DADFE7;
    padding: 30px;
    margin-top: 24px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.brand-box-review_left {
    width: 15%;
    text-align: center;
}
.brand-box-review_right {
    width: 85%;
}
ul.products_tags {
    display: flex;
    flex-wrap: wrap;
}
ul.products_tags>li:after {
    content: ",";
}
ul.products_tags>li:last-child:after {
    content: "";
    display: none;
}
ul.products_tags li {
    margin-right: 5px;
    color: #2E75B6;
}
ul.products_tags li:last-child {
    margin-right: 0px;
}
.form-toogle {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: -999;
    height: 0;
    width: 0;
    overflow: hidden;
}
.form-toogle.active {
    visibility: visible;
    position: relative;
    opacity: 1;
    z-index: 1;
    height: auto;
    width: auto;
    overflow: visible;
}
span.required_s {
    color: #FF5A5F;
}
.table-for_field label {
    cursor: pointer;
    margin: 0;
}
.table-for_field td {
    padding: 5px 30px 5px 0px;
}
.table-for_field tr>td:last-of-type {
    padding: 5px 0px 5px 0px;
}
.box-p_two-col {
    padding: 5px 0px;
}
.box-p_two-col_label {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    width: 100%;
}
.box-p_two-col_label label {
    cursor: pointer;
    width: 50%;
    margin: 0;
    padding: 2px 0px;
}
.box-p_two-col_label label:nth-child(odd) {
    padding-right: 10px;
}
.box-p_two-col_label label input {
    margin-right: 8px;
}
.box-p_two-col p {
    margin-bottom: 6px;
}
.gap-form-title {
    margin: 25px 0px 28px 0px;
}
.box-for-rd-grn {
    display: flex;
    margin-bottom: 18px;
}
.rd-grn_left {
    padding-right: 11px;
}
.not-standard-label {
    margin: 0;
}
.not-standard-label span {
    margin: 0 0 10px 10px;
    border-radius: 100px;
    line-height: 20px;
    padding: 6px 14px 4px 14px;
    cursor: pointer;
    font-size: 14px;
    display: block;
}
.grn-f span {
    background: #DCF1EF;
}
.red-f span {
    background: #FEE7F4;
}
.not-standard-label.grn-f input:checked ~ span {
    background: #9fdad4;
}
.not-standard-label.red-f input:checked ~ span {
    background: #ea94c5;
}
.not-standard-label input {
    display: none;
}
.min-input {
    border: 1px solid #DADFE7;
    border-radius: 4px;
    height: 40px;
    padding: 1px 24px 0px;
    width: 240px;
    max-width: 100%;
    margin-bottom: 20px;
}
.form-toogle input::-webkit-input-placeholder, .form-toogle textarea::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1;
} 
.form-toogle input::-moz-placeholder, .form-toogle textarea::-moz-placeholder {
    color: #ccc;
    opacity: 1;
}
.form-toogle input[type="text"] {
    border: 1px solid #DADFE7;
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px 5px 25px;
    width: 100%;
}
.form-toogle input.forst_m {
    margin-right: 3%;
    width: 43%;
}
.form-toogle input.last_m {
    width: 54%;
}
.form-toogle input:focus, .form-toogle textarea:focus {
    border: 1px solid #9CA0AA;
}
.optional_txt {
    color: #CCCCCC;
}
.form-toogle textarea {
    display: block;
    width: 100%;
    height: 99px;
    border: 1px solid #DADFE7;
    border-radius: 5px;
    resize: none;
    box-shadow: none;
    outline: none;
    line-height: 1.2em;
    padding: 25px 30px;
}
.min-bottom-mrg {
    margin-bottom: 18px;
}
.flex-col_pr-pol {
    line-height: 1.1em;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-around;
}
.flex-col_pr-pol span {
    width: calc(100% - 28px);
}
.form-toogle button.btn {
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 30px;
}
.top-gap {
    margin-top: 40px;
}
.top-gap-min {
    margin-top: 20px;
}
.overall-rating-area label {
    display: inline-block;
    width: 18px;
    height: 11px;
    background: url(../img/like.svg);
    background-size: 100%;
}
.padding-left-table {
    padding-left: 50px;
}
.overall-rating-area.stars-rating-style label {
    background: url(../img/star.svg);
}
.overall-rating-area > input:checked ~ label,
.overall-rating-area:not(:checked) > label:hover,
.overall-rating-area:not(:checked) > label:hover ~ label,
.overall-rating-area > input:checked ~ label:hover,
.overall-rating-area > input:checked ~ label:hover ~ label,
.overall-rating-area > label:hover ~ input:checked ~ label {
    background-position: bottom;
}
.overall-rating-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.overall-rating-area input {
    display: none;
}
.right_algn {
    text-align: right;
}
.pd-left {
    padding-left: 15px;
}
.mkls .left-box-step:before {
    opacity: 0;
}
.top-bottom-gap {
    margin: 30px 0px;
}
td.two-fields_m {
    display: flex;
    align-items: center;
}
.table-for_field tr>td.other-indents_m {
    padding: 0px 0px 12px;
}
.checklist-m {
    position: relative;
    margin-top: -3px;
    width: 14px;
    margin-right: 1px;
}
.left-inp {
    margin-bottom: 0px;
    display: block;
    cursor: pointer;
}
.modal-reg-f-button {
    display: none !important;
}
.header-sign_sign-up {
    margin-left: 20px;
}
.my-flex-block_mc {
    justify-content: space-between;
}
.div-col {
    padding-left: 15px;
    padding-right: 15px;
}
.box-for-choice .box-for-choice_button:last-of-type {
    margin-right: 0px;
}
.reviews_in_line.df-er {
    justify-content: space-around;
    padding-top: 3px;
    flex-wrap: wrap;
}
.reviews_in_line {
    padding-right: 20px;
    line-height: 1.1em;
    padding: 5px 20px 4px 0px;
}
.box-for-choice .box-for-choice_button:last-of-type {
    margin-right: 0px;
    cursor: not-allowed;
}

@media (max-width: 1230px) {
    .four_filter_ms_box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .adapted_filter {
        width: 100% !important;
        padding-bottom: 20px !important;
    }
    .filter_ms_box {
        margin-bottom: 0px;
        width: 22%;
    }
    .adapted_content {
        width: 78% !important;
    }
    .search100 {
        width: 100% !important;
    }
    .my-col_m.my-col-filter {
        padding: 0px 15px;
    }
}

@media (max-width: 1140px) {
    .container-w {
        padding: 20px 20px;
    }
    .main-block {
        background-position: center;
    }
    .main-block-content {
        padding-top: 100px;
        padding-bottom: 150px;
    }
}
@media (max-width: 980px) {
    body {
        font-size: 16px;
    }
    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 17px;
    }
    .footer-top-section {
        width: 50%;
        margin-bottom: 20px;
    }
    button.btn.btn-primary1 {
        padding: 10px 15px;
    }
    .header {
        padding: 18px 0px;
    }
    .filter_ms_box b {
        font-size: 17px;
    }
    .header .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        padding: 5px 15px;
        z-index: 999;
        box-shadow: 0 3px 3px rgba(0,0,0,0.05);
    }
    ul.navbar-nav>li {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .header-sign {
        border-left: none;
    }
}

@media (max-width: 870px) {
    .brend_button-box {
        width: 70%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding-top: 9px;
    }
    .brend_button-box .btn {
        width: 48%;
        margin-bottom: 0px;
    }
    .brend_image-box {
        width: 13%;
    }
    .brend_title-box {
        width: 37%;
    }
    .brend_customer-box, .brend_supplier-box {
        width: 25%;
    }
    .padding-left-table {
        padding-left: 0%;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 28px;
    }
    .main-block-content {
        padding-top: 40px;
        padding-bottom: 90px;
    }
    .footer-top {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .main-block-content_p {
        padding: 25px 0px 35px 0px;
    }
    .footer-top-section {
        width: 100%;
    }
    .main-block-search.container-w {
        padding-top: 0;
    }
    .main-block-search input[type=search] {
        background-position: 15px 14px;
        padding-left: 42px;
    }
    .default-gap {
        padding: 45px 0px;
    }
    .filter_ms_box {
        margin-top: 8px;
        width: 46%;
    }
    .padding-f-box {
        padding: 15px;
    }
    .box-white_brends {
        margin-bottom: 8px;
        padding: 10px 6px;
    }
    .adapted_filter {
        padding-bottom: 8px !important;
    }
    .adapted_content {
        width: 100% !important;
        padding: 0px 10px !important;
    }
    .brend_button-box {
        width: 80%;
    }
    .my-col_m.my-col-add {
        width: 200px;
        padding-top: 12px;
        margin: auto;
    }
    .top-pd_20.top-pd_0, .top-pd_34.top-pd_0 {
		padding-top: 0px;
    }
    .bottom_pd_35 {
    	padding-bottom: 35px;
    }
    .footer-title {
        margin-bottom: 16px;
        margin-top: 10px;
    }
    .mr-bottom-40 {
        margin-bottom: 30px;
    }
    .brand-box-review {
        padding: 20px;
    }
    table .margin-bot_50 td {
        padding-bottom: 40px !important;
    }
    .form-toogle textarea {
        padding: 15px 20px;
    }
}

@media (max-width: 600px) {
    .footer-bottom>div {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 420px) {
    .filter_ms_box, .brend_button-box {
        width: 100%;
    }
    .brend_customer-box, .brend_supplier-box {
        width: 50%;
        padding-left: 25px;
    }
    .brend_image-box {
        width: 26%;
    }
    .brend_title-box {
        width: 74%;
    }
    .brend_button-box .btn {
        width: 49%;
    }
}

@media (max-width: 380px) {
    .header-logo {
        width: 120px;
        padding-right: 0px;
    }
}

@media (max-width: 350px) {
    .mb-btn-r {
        width: 25px;
        margin: 0 0px 0 15px;
    }
    .header-logo {
        width: 100px;
    }
}