.bg {
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}

.page-1 {
    background-image: url(../img/home.jpg);
}

.page-2 {
    background-image: url(../img/2.jpg);
}

.page-3 {
    background-image: url(../img/3.jpg);
}

.link-home-one {
    width: 11%;
    height: 25%;
    display: block;
    left: 10%;
    position: absolute;
    top: 10%;
}

a.link-home-two {
    width: 12%;
    height: 25%;
    display: block;
    left: 22%;
    position: absolute;
    top: 10%;
}

.link-color {
    /* background: #ff000045; */
    background-image: url(../img/info.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
    filter: brightness(0) invert(1);
}

.link-color:hover {
    background-size: 60px;
}

.link-home-three {
    width: 34%;
    height: 32%;
    display: block;
    left: 35%;
    position: absolute;
    top: 0%;
}

.link-home-four {
    width: 18%;
    height: 22%;
    display: block;
    right: 12%;
    position: absolute;
    top: 12%;
}

.link-home-five {
    width: 13%;
    height: 22%;
    display: block;
    left: 2%;
    position: absolute;
    top: 40%;
}

.link-home-six {
    width: 20%;
    height: 35%;
    display: block;
    left: 15%;
    position: absolute;
    top: 42%;
}

.link-home-seven {
    width: 25%;
    height: 19%;
    display: block;
    left: 42%;
    position: absolute;
    bottom: 22%;
}

.link-home-eight {
    width: 26%;
    height: 36%;
    display: block;
    right: 5%;
    position: absolute;
    top: 38%;
}

.link-2-two {
    width: 34%;
    height: 60%;
    display: block;
    left: 7%;
    position: absolute;
    top: 23%;
}

.link-2-three {
    width: 41%;
    height: 47%;
    display: block;
    right: 8%;
    position: absolute;
    top: 23%;
}

.link-2-one {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}

.link-3-one {
    position: absolute;
    bottom: 25px;
    right: 25px;
}

.link-3-four {
    width: 100%;
    height: 28%;
    display: block;
    position: absolute;
    top: 0;
}

.link-3-two {
    width: 17%;
    height: 23%;
    display: block;
    position: absolute;
    top: 28%;
}

.link-3-three {
    width: 14%;
    height: 18%;
    display: block;
    position: absolute;
    top: 28%;
    left: 17%;
}

.link-3-five {
    width: 15%;
    height: 15%;
    display: block;
    position: absolute;
    top: 28%;
    left: 31%;
}

.link-3-six {
    width: 15%;
    height: 15%;
    display: block;
    position: absolute;
    top: 28%;
    right: 31%;
}

.link-3-seven {
    width: 14%;
    height: 18%;
    display: block;
    position: absolute;
    top: 28%;
    right: 17%;
}

.link-3-eath {
    width: 17%;
    height: 23%;
    display: block;
    position: absolute;
    top: 28%;
    right: 0;
}

#container-bg {
  width: 100%;
  height: 100vh;
}

.block-button {
    position: absolute;
    right: 35px;
    top: 35px;
}

.error-code {
    display: none;
}

@media (max-width: 992px) and (orientation: portrait)
{
    .error-code {
        display: block;
    }

    .hide-content {
        display: none;
    }

}